/* p{
    color: red;
    font-size: 25px;
}
.tk{
    color: blue;
}
#tk1{
    color:brown;
}
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding: 5px;
    margin: 10px 200px;
    border: 1px solid red;
}

.ass1{
    align-content: center;
    border: 2px solid green;
    padding: 10px;
    margin: 20px 150px;
    background-color: lightgrey;} */

/* div{
    padding: 10px;
    border:2px solid black;
    height:300px ;
    width: 800px;
}
.tk2{
 text-align: center;
   align-content: center;
   border: 30px blue solid;
   background-color: yellow;
   
   height: 100px;
   width: 700px;
} */
/* span{
    display: block;
    
}
div {
    display: inline;
} */
/* div {
    display: inline-block;
} */
/* .container{
    display: inline-block;
    border: 2px solid black;
    height: 450px;
    width: 800px;
}
.box{
    display: inline-block;
    height: 300px;
    width: 200px;
    margin: 20px;
    text-align: center;

}
.box1{
    background-color: yellowgreen;
    
}
.box2{
    background-color: brown;
}
.box3{
    background-color: aqua;
} */

/* div{
    background-color: pink;
    
}
p{
    font-size: 20px;
    float: right;
    padding: 10px;
}
img{
    height: 250px;
    width: 250px;

} */
 /* div{
    background-color: pink;
    border: 2px solid black;
    height: 450px;
    width: 650px;
 }
    p{
        font-size: 20px;
        float: right;
        padding: 10px;
    }
    img{
        height: 250px;
        width: 250px;
    }
    footer{
        clear: both;
        background-color: lightgrey;
        
        text-align: center;
        padding: 30px;
        font-size: 25px;
    } */
.container{
    display: flex;
    /* flex-direction: column; */
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 20px;

}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
     flex-grow: 1;
}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}